* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-family: 'Dancing Script', serif;
}

body {
    background: url(./dddraw1.svg) center / cover;
}

.crayon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.bigcont {
    width: 40%;
    height: 60vh;
    background: rgb(236, 132, 250);
    margin: auto;
    display: flex;
    box-shadow: 1px 5px 8px rgba(97, 96, 96, 0.589);
}

.tableau {
    width: 256px;
    height: 256px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}

.oui:hover {
    background: black;
}

.button {
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border: transparent;
}

.btn, #clear, #color, #erase{
    font-size: 1.1em;
    background: rgb(236, 132, 250);
    color: white;
    cursor: pointer;
    border: none;
}

.btn {
    background: rgb(70, 188, 224);
}

#color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#clear, #color, #erase {
    width: 70%;
    height: 5vh;
}

.btn {
    width: 10%;
    height: 5vh;
}

footer {
    display: grid;
    place-items: center;
}

a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social {
    width: 25%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.footer-icon {
    width: 30%;
    fill: rebeccapurple;
}

@media screen and (max-width: 700px) {
    .btn {
        width: 20%;
    }
    .bigcont {
        width: 95%;
        height: 65vh;
    }   
    .social {
        width: 50%;
        margin-top: 50px;
    } 
    .footer-icon {
        width: 40%;
    }
        
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
    border-radius: 50%;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;

}