* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    font-family: 'Dancing Script', serif;
}


.oui {
    background: olivedrab;
}

.title-box {
    width: 100%;
    height: 40px;
    padding: 10px;
    background: black;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: white;
}

/* input[type = "color"] {
    visibility: hidden;
} */

.github {
    fill: white;
    width: 30px;
    height: 30px;
}

.crayon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 150px;
    margin: 0%;
    /* height: 150px;
    background: rgb(255, 128, 255);
    margin-right: 500px; */ 
}

.bigcont {
    width: 512px;
    height: 400px;
    background: black;
    margin: auto;
    display: flex;
    box-shadow: 1px 5px 8px rgba(97, 96, 96, 0.589);
}

.tableau {
    width: 256px;
    height: 256px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}

.oui:hover {
    background: black;
}

.button {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    border: transparent;
}

#btn, #clear, #color, #erase{
    width: 100px;
    height: 40px;
    background: black;
    color: white;
    cursor: pointer;
}
